body {
    font-size: 2em;
    background-color: antiquewhite;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.container .header{
    font-size: 1em;
 text-align: center;
}

h1{
    margin-top: 0;
}