@import url(https://fonts.googleapis.com/css?family=Lato:100,regular,italic,500);

body {
    font-family: 'Lato';
    font-size: 2em;
    background-color: antiquewhite;
}

.container {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.container .header{
    width: 100%;
    display: block;
    font-size: 1em;
    text-align: center;
}

h1{
    margin-top: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row .element{
    padding-top: 0;
    font-size: 1.5rem;
    width: 40%;
}